body {
    background-color: rgb(41, 133, 38);
  }
  h1 {
    color: rgb(19, 19, 97);
  }
  p {
    color: rgb(150, 50, 50);
  }
  .right{
    color: rgb(161, 5, 91)
    float:right;
    text-align:right;
    margin-top: 30px;
  }
  .right p{
    margin: 5px 0px;
  }