body {
    color: blue;
    left: 30%;
    padding: 60px;
}
#uppermost-navbar{
    color: aqua;
    list-style-type: georgian;
    overflow: hidden;
    background-color: peru;
}
#photo{
    border-bottom: blueviolet;
    border-radius: 100px;
    border-width: 20px;
    border-style: groove;
    border-collapse: separate;
}
img:hover{
    border-bottom: blue;
    border-radius: 0px;
}
#topic{
    color: brown;
    font: outline;
    font-weight: 100;
    font-size: smaller;
    font-style: normal;
}

div a {
    display: block;
    color: rgb(44, 24, 226);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
div a:hover {
    background-color: rgb(108, 240, 104);
}
#main{
    font-size: x-large;
    font-style: oblique;
    border-color: tomato;
    border-width: 40px;
    box-sizing: border-box;
}
p a {
    font-size: large;
    font-family: fantasy;
    text-align: start;
    width: 80px;
}
.upper-nav-item{
    float: right;
    max-height: 100%;
    color: bisque;
    background-color: rgb(206, 187, 223);
    background: scroll;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(221, 250, 60);
    border: darkblue 20px;
    margin: 2px;
  }
  .foot {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }